<header class="page-header">
  <h1>About Us</h1>
</header>
<div class="panel">
  <div class="alert alert-success">
    Welcome to The Jungle Shop!!!
  </div>
  <p><%= link_to "Let's Go Shop!", :root, class: "btn btn-primary"%></p>
</div>
